
    
    <form >
    <p>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="cin">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="cin">
    </mat-form-field>
</p>
<p>
        <mat-form-field appearance="legacy">
        <input matInput placeholder="cin">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="cin">
    </mat-form-field>
</p>
<p>
    
</form>

